*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
height: 1024px;

background: #15638F;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}
container{
    display: flex;
    justify-content: center;
}
.card{margin-top: 20px;
    width: 200px;
height: 322px;


background: #FFFFFF;
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
border-radius: 10px;


}
img{
    width: 200px;
height: 142.36px;
border-radius: 10px 10px 0px 0px;

}
.card__content{display:flex;
    flex-direction: column;
    height: 100%;
    margin-left:8px;
    

}
.card__title{
font-size: 12px;
line-height: 16px;
color: #000000;
margin-top:10px;

}
.card__text{width: 165px;
height: 72.74px;
font-weight: 300;
font-size: 10px;
line-height: 14px;
text-align:left;
color: #000000;

}
.card__btn{
   
    width: 98px;
    height: 27px;
 background: #2797B2;
    border-radius: 50px;
  font-size: 10px;
    line-height: 14px;
 color: #FFFFFF;
 text-transform: uppercase;
 margin-top: 10px;
}
.card__btn:hover{
    color: #202f38;
}

